@font-face {
    font-family: 'Amin';
    src: url('../fonts/Amin/Amin-Bold.eot');
    src: url('../fonts/Amin/Amin-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Amin/Amin-Bold.woff2') format('woff2'),
    url('../fonts/Amin/Amin-Bold.woff') format('woff'),
    url('../fonts/Amin/Amin-Bold.ttf') format('truetype'),
    url('../fonts/Amin/Amin-Bold.svg#Amin-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body{
    font-family: 'Amin', Arial, sans-serif;
}

.text-right {
    text-align: left;
}
.text-left {
    text-align: right;
}
.pull-right {
    float: left !important;
}
.pull-left {
    float: right !important;
}
.breadcrumb > li + li:before{
    content: "\f100";
}

.bx-wrapper .bx-viewport, .pix_sc_slider1{direction: ltr;}
.navbar-brand{float: left;}

.address p i {
    margin: 8px 0 0 15px;
}

.spn_sc_list_area ul.list_style_02 li span {
    float: right;
    margin: 2px 0 0 10px;
}

.shortcode-widget {
    border-right: 1px solid #ddd;
    border-left: 0;
    padding-right: 15px;
    padding-left: 0px;
}

#bdp-forums ul.forum-titles li:first-child{text-align: right;}
#bdp-forums ul.forum li:first-child img{margin-left: 10px;}
li.bdp-forum-info, li.bdp-topic-author, li.bdp-topic-title{float: right;text-align: right;}
#bdp-forums ul.forum-titles li, li.bdp-forum-topic-count, li.bdp-topic-voice-count, li.bdp-forum-reply-count, li.bdp-topic-reply-count, li.bdp-forum-freshness, li.bdp-topic-freshness{float: right}
#bdp-forums table.table td:first-child{text-align: right;}
#bdp-forums table.table td:first-child img{margin-left: 5px;}

.spn_sc_list_area .list_style_06 li:after{left: auto;right: 0;}
.spn_sc_list_area .list_style_06 li{padding: 2px 20px 2px 0;}

.vtabs .col-xs-12.col-md-4 {
    padding-right: 15px;
    padding-left: 0;
}

.vtabs .col-xs-12:last-child {
    padding-right: 0;
}

.vtabs-nav {
    border-color: #e5e5e5 #e5e5e5 #e5e5e5 transparent;
}

.vtabs-nav li a {
    padding: 15px 25px 15px 0;
}

.vtabs-nav li a i {
    float: right;
    margin: -4px 0 0 10px;
}

.vtabs .tabpanel .tab-pane {
    margin-left: 0;
    margin-right: -2px;
}